@font-face {
   font-family: "Bernard MT Condensed";
   src: url("fonts/Bernard MT Condensed.woff") format("woff"), url("fonts/Bernard MT Condensed.eot") format("embedded-opentype"), url("fonts/Bernard MT Condensed.TTF") format("truetype"), url("fonts/Bernard MT Condensed.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}